nav{
    background: rgb(251,246,63);
background: radial-gradient(circle, rgba(251,246,63,0.9780287114845938) 0%, rgba(247,41,23,1) 100%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 20vh;
    text-align-last: center;
    margin:10px;
    color:whitesmoke;
    font: helvetica;
    padding: 15px;
    border: black ;
}
main{
    background: rgb(9,0,15);
    background: radial-gradient(circle, rgba(9,0,15,1) 0%, rgba(212,46,34,1) 50%, rgba(198,186,7,1) 100%);
    color:whitesmoke;
    text-align-last:center ;
    font:arial;
    display: run-in;
}
footer{
    background: rgb(63,251,107);
    background: radial-gradient(circle, rgba(63,251,107,1) 0%, rgba(247,71,23,1) 100%);
    color:whitesmoke;
    display: run-in;
    width: 10px;
    border: black  ;
}
.daikiri-frutilla{
    text-align-last: left;
}
.fernet{
    text-align-last:left ;
}
.campari-pomelo{
    text-align-last: left;
}
.campari-naranja{
    text-align-last: left;
}
footer{
    text-align-last: right;
}
h3{
    text-align-last: left;
    color: black;
}
audio{
    background-color: yellow;
}