nav{
    background: rgb(251,246,63);
background: radial-gradient(circle, rgba(251,246,63,0.9780287114845938) 0%, rgba(247,41,23,1) 100%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 20vh;
    text-align-last: center;
    margin:10px;
    color:whitesmoke;
    font: helvetica;
    padding: 15px;
    border: black ;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    background: rgb(9,0,15);
    background: radial-gradient(circle, rgba(9,0,15,1) 0%, rgba(212,46,34,1) 50%, rgba(198,186,7,1) 100%);
    color:whitesmoke;
    text-align-last:center ;
    display: run-in;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    background: rgb(9,0,15);
    background: radial-gradient(circle, rgba(9,0,15,1) 0%, rgba(212,46,34,1) 50%, rgba(198,186,7,1) 100%);
    color:whitesmoke;
    display: run-in;
    border-color: black;
    text-align-last: right;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    text-align-last: left;
    color: black;
    font-family: 'Open Sans', sans-serif;
}
audio{
    background-color: yellow;
}
p, li{
    font-family: 'Roboto', sans-serif;
}
p{
    line-height: 120%;
    width: 350px;
}
ol{
    width: 350px;
}
.instrucciones{
    display: inline-block;
    width: 500px;
    height: 215px;
    text-align-last: left;
}
.ingredientes{
    display: inline-block;
    width: 500px;
    height: 215px;
    text-align-last: left;
}
.fernet{
    text-align-last: center;
}