[name="pago"]{
    background-color: lightcoral;}
.opciones{
    background-color: lightgoldenrodyellow;
    color: red;
}
[class="toppings-checkbox"]{
    background-color: black;
    color: brown;
    block-size: 200px;
}
form[name="toppings-checkbox"]{
    background-color: cyan;
    margin: 15mp;

}